<div id="whySwap_large">
	<div id="whySwap_text">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi neque nibh, euismod eu dignissim quis, aliquam eu turpis. Cras eget orci vel massa tempor adipiscing sed eget felis.
		<br>
		<div class="signup_button_wrapper">
			<a href="/users/sign_up" class="button">Sign Up!</a>
		</div>
	</div>
	<div id="whySwap_images">
		<div>
			<img src="images/whySwap_image.png">
		</div>
		<br style="clear:both;">
		 <div class="whySwap_image">
			Wedding Photography
		</div>
		<div class="whySwap_image">
			Piano Lessons
		</div>
		<br style="clear:both;">
	</div>
	<br style="clear:both;">
</div>